.main_page{
    width: 320px;
    height: 100vh;
    border-radius: 20px;
    background: #5F35F5;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 999;
}
.main_page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    row-gap: 60px;
}
.main_profile_box{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background: #fff;
    position: relative;
    cursor: pointer;
}
.main_profile_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image_overlay{
    position: absolute;
    width: 100px;
    height: 100px;
    background: #242121cc;
    border-radius: 50%;
    left: 0;
    bottom: -100px;
}
.main_profile_box:hover .image_overlay{
    bottom: 0;
    transition: all linear 0.3s;
}
.main_page_profile_name_box{
    text-align: center;
    margin-top: 10px;
}
.main_page_profile_name{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}
.main_page_link_item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 57px;
}
.main_page_button{
    background: transparent;
    border: none;
}
.page_link{
    font-size: 40px;
    color: #fff;
    background: transparent;
    cursor: pointer;
}
.page_link.active {
    padding: 20px 50px;
    background: #fff;
    color: #5F35F5;
    border-radius: 20px;
}
.pages_box{
    width: 1500px;
    height: 100vh;
    overflow-y: scroll;
}
.all_contant_head{
    font-size: 32px;
    font-weight: 600;
    color: #000;
    line-height: 150%;
    text-transform: capitalize;
}